##Case 2##
Attached to this test is a .csv file which contains data from Comexstat, which is basically the official data source for brazilian exports e imports, maintened by the government;
The dataset contains all trackings of monthly imports and exports of a range of products (soybeans, soybean meal, soybean oil, corn, wheat and sugar), by brazilian states, by routes (air, sea, ground, etc) e from/to which country;
We ask you to address a couple quentions below. Remember that data viz is one important skill to show besides any analytical skill. So we encourage you to use and explore a bunch of graphs and tables to show your point.

1.Show the evolution of total monthly and total annual exports from Brazil (all states and to everywhere) of ‘soybeans’, ‘soybean oil’ and ‘soybean meal’;

2.What are the 3 most important products exported by Brazil in the last 5 years?

3.What are the main routes through which Brazil have been exporting ‘corn’ in the last few years? Are there differences in the relative importancem of routes depending on the product?

4.Which countries have been the most important trade partners for Brazil in terms of ‘corn’ and ‘sugar’ in the last 3 years?

5.For each of the products in the dataset, show the 5 most important states in terms of exports?

#SOLUTIONS#

#1.Show the evolution of total monthly and total annual exports from Brazil (all states and to everywhere) of ‘soybeans’, ‘soybean oil’ and ‘soybean meal’;#

##Annual exports##

First, via sql (see sql.txt file), data were agrupped in order to get the necessary data and **annual_exports.csv** was generated.

In [3]:
import pandas as pd
import plotly.graph_objects as go

In [4]:
data=pd.read_csv("annual_exports.csv")
soybeans=data[data['product']=="soybeans"]
soybean_meal=data[data['product']=="soybean_meal"]
soybean_oil=data[data['product']=="soybean_oil"]

In [5]:
data

         product    total_tons    total_usd  year
0   soybean_meal  9.965945e+06   2668177472  1997
1    soybean_oil  1.117451e+06    592322413  1997
2       soybeans  8.195025e+06   2407409169  1997
3   soybean_meal  9.947875e+06   1671167311  1998
4    soybean_oil  1.300080e+06    791580911  1998
..           ...           ...          ...   ...
64   soybean_oil  1.414356e+06   1025231907  2018
65      soybeans  8.214744e+07  32619856907  2018
66  soybean_meal  1.653038e+07   5796673823  2019
67   soybean_oil  1.031290e+06    688279611  2019
68      soybeans  7.030014e+07  24738766153  2019

[69 rows x 4 columns]

In [6]:

def data_conditioning(df):
  tons=[round(x/1000000,2) for x in df['total_tons']]
  total_usd=[round(x/1000000,2) for x in df['total_usd']]
  df['total_tons']=tons
  df['total_usd']=total_usd
  return df

In [7]:
soybeans=data_conditioning(soybeans)
soybean_meal=data_conditioning(soybean_meal)
soybean_oil=data_conditioning(soybean_oil)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
fig=go.Figure()
fig.add_trace(go.Bar(x=soybeans.year,y=soybeans.total_tons,name='soybeans'))
fig.add_trace(go.Bar(x=soybean_meal.year,y=soybean_meal.total_tons,name='soybean meal'))
fig.add_trace(go.Bar(x=soybean_oil.year,y=soybean_oil.total_tons,name='soybean oil'))
fig.update_layout(title_text="Brazil's soybean related products exports (millon of tons)",
                  xaxis = dict(
                  title = 'YEAR',
                  showgrid = True,
                  zeroline = True,
                  showline = True,
                  showticklabels = True,
                  type='category'
                   ),
                  yaxis=dict(
                  title="Millons of tons"    
                  ),yaxis_type="log")

fig.show()

In [9]:
fig=go.Figure()
fig.add_trace(go.Bar(x=soybeans.year,y=soybeans.total_usd,name='soybeans'))
fig.add_trace(go.Bar(x=soybean_meal.year,y=soybean_meal.total_usd,name='soybean meal'))
fig.add_trace(go.Bar(x=soybean_oil.year,y=soybean_oil.total_usd,name='soybean oil'))
fig.update_layout(title_text="Brazil's income of soybean related products exports (millons of USD)",
                  xaxis = dict(
                  title = 'YEAR',
                  showgrid = True,
                  zeroline = True,
                  showline = True,
                  showticklabels = True,
                  type='category'
                  ) ,
                  yaxis=dict(
                  title="USD Millons"    
                  ),yaxis_type="log")

fig.show()

##Monthly exports##

First, via sql (see sql.txt file), data were agrupped in order to get the necessary data and **monthly_exports.csv** was generated.

In [10]:
monthly_data=pd.read_csv("monthly_exports.csv")
monthly_data

           date       product    type   total_tons   total_usd
0    1997-01-01  soybean_meal  Export   486775.060   133239012
1    1997-01-01   soybean_oil  Export    66915.872    34717077
2    1997-01-01      soybeans  Export    14030.000     4118740
3    1997-02-01  soybean_meal  Export   176535.716    47590539
4    1997-02-01   soybean_oil  Export    34560.978    18351677
..          ...           ...     ...          ...         ...
823  2019-11-01   soybean_oil  Export    21891.986    17694618
824  2019-11-01      soybeans  Export  4448635.317  1625916800
825  2019-12-01  soybean_meal  Export  1618020.166   543725029
826  2019-12-01   soybean_oil  Export    37520.537    29863391
827  2019-12-01      soybeans  Export  2906495.291  1061904048

[828 rows x 5 columns]

In [11]:
soybeans_monthly=data_conditioning(monthly_data[monthly_data['product']=='soybeans'])
soybean_meal_monthly=data_conditioning(monthly_data[monthly_data['product']=='soybean_meal'])
soybean_oil_monthly=data_conditioning(monthly_data[monthly_data['product']=='soybean_oil'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
fig=go.Figure()
fig.add_trace(go.Scatter(x=soybeans_monthly['date'],y=soybeans_monthly['total_tons'],mode='lines',name='soybeans'))
fig.add_trace(go.Scatter(x=soybean_meal_monthly['date'],y=soybean_meal_monthly['total_tons'],mode='lines',name='soybean meal'))
fig.add_trace(go.Scatter(x=soybean_oil_monthly['date'],y=soybean_oil_monthly['total_tons'],mode='lines',name='soybean oil'))
fig.update_layout(title_text="Brazil's soybean related products exports (monthly millon of tons)",
                  xaxis = dict(
                  title = 'date',
                  showgrid = True,
                  zeroline = True,
                  showline = True,
                  showticklabels = True,
                  type='category'
                  ) ,
                  yaxis=dict(
                  title="Millons of tons"
                     
                  ),yaxis_type="log")

fig.show()

In [13]:
fig=go.Figure()
fig.add_trace(go.Scatter(x=soybeans_monthly['date'],y=soybeans_monthly['total_usd'],mode='lines',name='soybeans'))
fig.add_trace(go.Scatter(x=soybean_meal_monthly['date'],y=soybean_meal_monthly['total_usd'],mode='lines',name='soybean meal'))
fig.add_trace(go.Scatter(x=soybean_oil_monthly['date'],y=soybean_oil_monthly['total_usd'],mode='lines',name='soybean oil'))
fig.update_layout(title_text="Brazil's soybean related products exports (monthly millon of USD)",
                  xaxis = dict(
                  title = 'date',
                  showgrid = True,
                  zeroline = True,
                  showline = True,
                  showticklabels = True,
                  type='category'
                  ) ,
                  yaxis=dict(
                  title="USD Millions"    
                  ),yaxis_type="log")

fig.show()

#2.What are the 3 most important products exported by Brazil in the last 5 years?#

In [1]:
import sqlite3

In [15]:
connection=sqlite3.connect('Brasildb.db')

sql="SELECT product,type,SUM(total_tons) AS total_tons,SUM(total_usd) AS total_income,group_concat(distinct(year)) as years FROM (SELECT product,type,SUM(tons) AS total_tons,SUM(usd) AS total_usd,SUBSTR(date,1,4) as year FROM brasil WHERE type='Export' GROUP BY year,product ORDER BY year DESC limit 30) GROUP BY product ORDER BY total_income DESC"
df=pd.read_sql_query(sql,connection)
df

        product    type    total_tons  total_income                     years
0      soybeans  Export  3.263315e+08  123325529857  2019,2018,2017,2016,2015
1         sugar  Export  1.200336e+08   40938486021  2019,2018,2017,2016,2015
2  soybean_meal  Export  7.664749e+07   28407723437  2019,2018,2017,2016,2015
3          corn  Export  1.445993e+08   24447720910  2019,2018,2017,2016,2015
4   soybean_oil  Export  6.711428e+06    4795946873  2019,2018,2017,2016,2015
5         wheat  Export  3.885836e+06     726945386  2019,2018,2017,2016,2015

Acording to this query, soybeans,sugar and soybean_meal are the products with more income betwen 2015 and 2019

#3.What are the main routes through which Brazil have been exporting ‘corn’ in the last few years? Are there differences in the relative importancem of routes depending on the product?#

Top 10 countries for Brasil's income (last 5 years).

In [19]:
sql="SELECT product,country,type,SUM(total_tons),SUM(total_usd) AS income,group_concat(distinct(year)) AS years FROM (SELECT product,country,type,SUM(tons) AS total_tons,SUM(usd) AS total_usd,SUBSTR(date,1,4) AS year FROM brasil WHERE product='corn' AND type='Export'  GROUP BY country,year ORDER BY year DESC) WHERE year IN('2019','2018','2017','2016','2015') GROUP BY country ORDER BY income DESC limit 10;"
df=pd.read_sql_query(sql,connection)
df

  product       country  ...      income                     years
0    corn          Iran  ...  4355009225  2019,2018,2017,2016,2015
1    corn       Vietnam  ...  2861495041  2019,2018,2017,2016,2015
2    corn         Japan  ...  2491580712  2019,2018,2017,2016,2015
3    corn         Egypt  ...  1960180368  2019,2018,2017,2016,2015
4    corn   South Korea  ...  1779314393  2019,2018,2017,2016,2015
5    corn         Spain  ...  1544011773  2019,2018,2017,2016,2015
6    corn        Taiwan  ...  1419631894  2019,2018,2017,2016,2015
7    corn      Malaysia  ...  1257990909  2019,2018,2017,2016,2015
8    corn    Bangladesh  ...   675448840  2019,2018,2017,2016,2015
9    corn  Saudi Arabia  ...   533725751  2019,2018,2017,2016,2015

[10 rows x 6 columns]

Are there differences in the relative importancem of routes depending on the product?

Yes, depending of product, many countries have lack of certain products, depending if many facors like geolocation, due to growing population, Asia is the main destiny to brasilian Corn

#4.Which countries have been the most important trade partners for Brazil in terms of ‘corn’ and ‘sugar’ in the last 3 years?#

#CORN#

##export partners##

In [24]:
sql1="SELECT product,country,type,SUM(total_tons) AS total_tons_exported,SUM(total_usd) AS income,group_concat(DISTINCT(year)) AS years FROM(SELECT product,country,type,SUM(tons) as total_tons,SUM(usd) as total_usd,substr(date,1,4) as year FROM brasil WHERE product='corn' AND year IN('2019','2018','2017') AND type='Export' GROUP BY year,country) GROUP BY country ORDER BY income DESC"
df=pd.read_sql_query(sql1,connection)
df

    product         country  ...      income           years
0      corn            Iran  ...  2822336281  2017,2018,2019
1      corn           Japan  ...  1574975592  2017,2018,2019
2      corn         Vietnam  ...  1551035208  2017,2018,2019
3      corn           Egypt  ...  1375065136  2017,2018,2019
4      corn           Spain  ...  1335769607  2017,2018,2019
..      ...             ...  ...         ...             ...
108    corn         Bahamas  ...          75            2019
109    corn          Norway  ...          56       2018,2019
110    corn         Bahrein  ...          15            2019
111    corn     Isle of Man  ...          14            2019
112    corn  Cayman Islands  ...          11            2019

[113 rows x 6 columns]

##Import partners##

In [25]:
sql2="SELECT product,country,type,SUM(total_tons) AS total_tons_imported,SUM(total_usd) AS outcome,group_concat(DISTINCT(year)) AS years FROM(SELECT product,country,type,SUM(tons) as total_tons,SUM(usd) as total_usd,substr(date,1,4) as year FROM brasil WHERE product='corn' AND year IN('2019','2018','2017') AND type='Import' GROUP BY year,country) GROUP BY country ORDER BY outcome DESC"
df=pd.read_sql_query(sql2,connection)
df

  product        country  ...    outcome           years
0    corn       Paraguay  ...  374158249  2017,2018,2019
1    corn      Argentina  ...  154907150  2017,2018,2019
2    corn  United States  ...   20830122  2017,2018,2019
3    corn        Bolivia  ...    2500841  2017,2018,2019
4    corn         Mexico  ...     139491  2017,2018,2019
5    corn          Spain  ...      10635            2018
6    corn         Brazil  ...       1956            2017
7    corn      Guatemala  ...        200            2018
8    corn        Belgium  ...          1            2019

[9 rows x 6 columns]



#Payment balance (Import<->Export)#

Acording to this, from exports pointview Iran ,Japan, Vietnam,Egypt and Spain are great corn partners, but taking payment balance the countries would be Spain,Mexico,USA,Guatemala, And Belgium.

In [30]:
sql3="SELECT e.product,e.country,e.income-i.outcome AS payment_balance FROM corn_exported AS e INNER JOIN corn_imported AS i ON e.country=i.country ORDER BY payment_balance DESC"
df=pd.read_sql_query(sql3,connection)
df

  product        country  payment_balance
0    corn          Spain       1335758972
1    corn         Mexico        422219855
2    corn  United States         68128639
3    corn      Guatemala         58983155
4    corn        Belgium          4556685
5    corn        Bolivia          3394231
6    corn      Argentina       -136237096
7    corn       Paraguay       -279523110

#SUGAR#

Export partners

In [35]:
sql1="SELECT product,country,type,SUM(total_tons) AS total_tons_exported,SUM(total_usd) AS income,group_concat(DISTINCT(year)) AS years FROM(SELECT product,country,type,SUM(tons) as total_tons,SUM(usd) as total_usd,substr(date,1,4) as year FROM brasil WHERE product='sugar' AND year IN('2019','2018','2017') AND type='Export' GROUP BY year,country) GROUP BY country ORDER BY income DESC limit 10"
df=pd.read_sql_query(sql1,connection)
df

  product               country  ...      income           years
0   sugar               Algeria  ...  2176380928  2017,2018,2019
1   sugar            Bangladesh  ...  2063174600  2017,2018,2019
2   sugar                 India  ...  1696094938  2017,2018,2019
3   sugar  United Arab Emirates  ...  1538397895  2017,2018,2019
4   sugar          Saudi Arabia  ...  1380455693  2017,2018,2019
5   sugar               Nigeria  ...  1336515029  2017,2018,2019
6   sugar                  Iraq  ...  1158541230  2017,2018,2019
7   sugar              Malaysia  ...  1039031070  2017,2018,2019
8   sugar                 Egypt  ...  1010584065  2017,2018,2019
9   sugar               Morocco  ...   931580393  2017,2018,2019

[10 rows x 6 columns]

Import  partners

In [34]:
sql="SELECT product,country,type,SUM(total_tons) AS total_tons_imported,SUM(total_usd) AS outcome,group_concat(DISTINCT(year)) AS years FROM(SELECT product,country,type,SUM(tons) as total_tons,SUM(usd) as total_usd,substr(date,1,4) as year FROM brasil WHERE product='sugar' AND year IN('2019','2018','2017') AND type='Import' GROUP BY year,country) GROUP BY country ORDER BY outcome DESC limit 10"
df=pd.read_sql_query(sql,connection)
df

  product        country    type  total_tons_imported  outcome           years
0   sugar  United States  Import             4266.959  3311692  2017,2018,2019
1   sugar          Chile  Import              700.000   610812  2017,2018,2019
2   sugar      Argentina  Import              598.400   512624       2017,2018
3   sugar          Italy  Import              291.596   355682  2017,2018,2019
4   sugar    Netherlands  Import               77.241   285032  2017,2018,2019
5   sugar        Germany  Import               86.012   270233  2017,2018,2019
6   sugar    Switzerland  Import               26.153   204303  2017,2018,2019
7   sugar      Guatemala  Import              320.000   112703            2019
8   sugar       Paraguay  Import              102.264    88778  2017,2018,2019
9   sugar      Indonesia  Import               34.020    71904            2019



#Payment balance (Import<->Export)#

Acording to this, from exports pointview ALgeria,Bangladesh,India,United Arab Emirates and Saudi Arabia are great sugar partners, but taking payment balance the countries would be India,Canada,China and USA

In [33]:
sql3="SELECT e.product,e.country,e.income-i.outcome AS payment_balance FROM sugar_exported AS e INNER JOIN sugar_imported AS i ON e.country=i.country ORDER BY payment_balance DESC limit 10"
df=pd.read_sql_query(sql3,connection)
df

  product         country  payment_balance
0   sugar           India       1696094516
1   sugar          Canada        848568125
2   sugar           China        742184707
3   sugar   United States        514231159
4   sugar       Indonesia        402812011
5   sugar           Chile         76827191
6   sugar  United Kingdom         57761402
7   sugar           Spain         52130806
8   sugar         Romania         46228912
9   sugar     Netherlands         42173491

#5.For each of the products in the dataset, show the 5 most important states in terms of exports?#

The following query shows exports grouped per year,state and product

In [112]:
sql="SELECT product, state, type,SUM(tons) as total_tons,SUM(usd) as total_usd,substr(date,1,4) as year FROM brasil WHERE type='Export'  GROUP BY year,state,product"
df=pd.read_sql_query(sql,connection)
df

           product state    type    total_tons   total_usd  year
0            sugar    AL  Export  6.235000e+04    19202493  1997
1     soybean_meal    BA  Export  1.038044e+05    28116003  1997
2         soybeans    BA  Export  1.795551e+05    56032292  1997
3             corn    DF  Export  7.000000e+02      526750  1997
4     soybean_meal    ES  Export  1.564746e+04     3692801  1997
...            ...   ...     ...           ...         ...   ...
1676         sugar    SP  Export  1.111413e+07  3144981666  2019
1677         wheat    SP  Export  6.298700e+01       34885  2019
1678          corn    TO  Export  4.768295e+05    78543697  2019
1679  soybean_meal    TO  Export  9.695965e+04    35801213  2019
1680      soybeans    TO  Export  2.213791e+06   772631894  2019

[1681 rows x 6 columns]

In [110]:
products=[x for x in df['product'].drop_duplicates()]
products

['sugar', 'soybean_meal', 'soybeans', 'corn', 'soybean_oil', 'wheat']

In [119]:
import operator

In [125]:

def order_states(df,product):
  df_product=df[df['product']==product]
  states=[s for s in df_product['state'].drop_duplicates()]
  state_dict={}
 
  #print("------",product,"-----")
  for s in states:
    df_prod_by_state=df_product[df_product['state']==s]
    #print(s,':',sum(df_prod_by_state['total_usd']),' ',product)
    state_dict[s]=sum(df_prod_by_state['total_usd'])
  
  sorted_by_state = sorted(state_dict.items(), key=operator.itemgetter(1),reverse=True)
  return sorted_by_state
  #print(df_product)
  #print(states)

In [130]:
for p in products:
  product_by_state=order_states(df,p)
  print("--",p,"--(state,USD)")
  print(product_by_state[0:5])

-- sugar --(state,USD)
[('SP', 66211861392), ('MG', 8559401218), ('PR', 8270778644), ('AL', 4826419200), ('MS', 3219034929)]
-- soybean_meal --(state,USD)
[('MT', 27994539842), ('PR', 24649962821), ('RS', 15007385729), ('GO', 9421430703), ('BA', 5439265638)]
-- soybeans --(state,USD)
[('MT', 80506781707), ('PR', 48484101052), ('RS', 46136733396), ('GO', 21268827303), ('MS', 13284815678)]
-- corn --(state,USD)
[('MT', 28375516035), ('PR', 9160511995), ('GO', 5706990655), ('MS', 3405430680), ('SP', 1511121926)]
-- soybean_oil --(state,USD)
[('PR', 11109102057), ('RS', 6281965055), ('MT', 5434513926), ('SC', 1238810673), ('GO', 855920734)]
-- wheat --(state,USD)
[('RS', 1555925283), ('PR', 183935397), ('SC', 25400089), ('SP', 2267024), ('MS', 275733)]

#another solution#

In [138]:
for p in products:
  sql="SELECT product,state ,SUM(total_tons), SUM(total_usd) AS money  FROM (SELECT product, state, type,SUM(tons) as total_tons,SUM(usd) as total_usd,substr(date,1,4) as year FROM brasil WHERE type='Export'  GROUP BY year,state,product) WHERE product='"+p+"' GROUP BY state ORDER BY money DESC limit 5"
  df=pd.read_sql_query(sql,connection)
  print(df)

  product state  SUM(total_tons)        money
0   sugar    SP     1.879603e+08  66211861392
1   sugar    MG     2.318293e+07   8559401218
2   sugar    PR     2.198688e+07   8270778644
3   sugar    AL     1.261794e+07   4826419200
4   sugar    MS     8.406289e+06   3219034929
        product state  SUM(total_tons)        money
0  soybean_meal    MT     7.946227e+07  27994539842
1  soybean_meal    PR     8.639237e+07  24649962821
2  soybean_meal    RS     4.892746e+07  15007385729
3  soybean_meal    GO     2.868658e+07   9421430703
4  soybean_meal    BA     1.736806e+07   5439265638
    product state  SUM(total_tons)        money
0  soybeans    MT     2.157785e+08  80506781707
1  soybeans    PR     1.345502e+08  48484101052
2  soybeans    RS     1.196807e+08  46136733396
3  soybeans    GO     5.702533e+07  21268827303
4  soybeans    MS     3.421464e+07  13284815678
  product state  SUM(total_tons)        money
0    corn    MT     1.518234e+08  28375516035
1    corn    PR     5.386247e+07   9160511995
2    corn    GO     2.846462e+07   5706990655
3    corn    MS     1.827060e+07   3405430680
4    corn    SP     7.343888e+06   1511121926
       product state  SUM(total_tons)        money
0  soybean_oil    PR     1.648205e+07  11109102057
1  soybean_oil    RS     9.279786e+06   6281965055
2  soybean_oil    MT     7.423877e+06   5434513926
3  soybean_oil    SC     1.786134e+06   1238810673
4  soybean_oil    GO     1.094295e+06    855920734
  product state  SUM(total_tons)       money
0   wheat    RS      6734981.032  1555925283
1   wheat    PR       824974.624   183935397
2   wheat    SC        81340.920    25400089
3   wheat    SP        10066.817     2267024
4   wheat    MS          910.108      275733